main {
  padding: 20px 0;
}

section {
  max-width: 900px;
  margin: 0 auto 100px auto;
}

main h2 {
  margin: 12px 10px;
  border-bottom: 1px solid lightgray;
}

/* Groups & Items  (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

/* ---  (Desktop) Groups & Items --- */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
}

/* ---  Contact Form Design --- */

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}



